body {
	text-align: center;
	color: brown;
}

p {
	font-size: 25px;
}

#thanks {
	font-size: 18px;
}

#main-screen {
	font-size: 70px;
	margin-top: 155px;
	font-family: sans;
}

.container {
	display: inline-block;
}


.container a {
    border-radius: 25px;
    margin: 22px 75px;
    width: 247px;
    height: 245px;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 1px solid #CCCCCC;
    display: inline-block;
    text-decoration:none;
    
}

.container a:active {

  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;

}

.container a div{
	height: 100%;
}

.myButton{

	background-size: 220px 169px;
    background-repeat: no-repeat;
    display: block;
    width: 220px;
    height: 169px;

}

.myButton img {
	    margin-top: 15px;
	width: 220px;
	height: 169px;
}

.myButton p {
    margin-top: 10px;
    font-size: 25px;
    color: black;

}

